TZ="America/New_York"
PUID=1026
PGID=100

# InfluxDB
INFLUXDB_URL=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_TOKEN=
INFLUXDB_USERNAME=
INFLUXDB_PASSWORD=

# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# Cloudflared
CLOUDFLARE_TUNNEL_TOKEN=