TZ=
PUID=
PGID=

# Plex
PLEX_CLAIM=

# Gluetun VPN (Mullvad)
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
BLOCK_IPV6=
SERVER_CITIES=
DOT_PROVIDERS=
MTU=
PREFERRED_SERVER=
ENABLE_IPV4_ONLY=
DISABLE_UNSTABLE_DEFAULTS=
VERIFY_PUBLIC_IP_HEALTH=
VPN_SERVICE_PROVIDER=
VPN_TYPE=